html, body, .page {
	height: 100%;
}

body {
	margin: 8px;
	position: relative;
	font-family: sans-serif;
}

.hide {
	display: none;
}

.hidden {
	visibility: hidden;
}

#bg {
	background: url(../images/bg.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    z-index: -1;
    opacity: 0.1;
}
    

#userForm {
	height: 100%;
	width: calc(100% - 20px);
	margin: 0px 10px;
	flex-direction: column;
  	height: 100%;
  	display: flex;
	align-items: center;
  	place-content: center center;
}

#userForm input{
	width: 100%;
	height: 30px;
	border: 0px;
	border-bottom: 1px solid gray;
	outline: none;
	background-color: transparent;
}

#userForm .error {
	margin: 0px;
    position: relative;
    text-align: left;
    width: 100%;
    font-size: 10px;
    color: red;
    margin-bottom: 12px;
    margin-top: 2px;
}

#userForm button{
	width: 100%;
	background-color: #007dcb;
	border-bottom: 2px solid #0f1f7a;
	color: #f7f2f2;
	text-shadow: 0 -1px 0 #300;
	font-size: 15px;
	border: none;
	padding: 4px 0px;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	height: 30px;
}

.forest{
	background: url('../images/forest.jpg') no-repeat;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
}

.live #rules {
	display: none;
}

#information{
	width: 100%;
}

#information .infounit{
	width: 50%;
	float: left;
	visibility: hidden;
}

.live #information .infounit{
	visibility: visible;
}

#information .infounit .image{
  	width: 35px;
  	height: 35px;
  	border-radius: 20px;
  	background-color: #FFFFFF;
  	display: block;
  	float: left;
}

#information .infounit.lamb .image{
	background: url('../images/lamb.png') no-repeat;
  	background-size: 35px 35px;
}

#information .infounit.deadlamb .image{
	background: url('../images/lamb.png') no-repeat rgb(244, 85, 85);
	background-size: 20px 20px;
	float: right;
	background-position: center;
}

#information .infounit .count{
	float: left;
	padding:10px;
}

#information .infounit.deadlamb .count{
	float: right;
}

#information .message{
	text-align: center;
	font-size: 19px;
	height: 35px;
	float: left;
	width: 100%;
	color: rgb(34, 205, 34);
	font-weight: bold;
}

#information .message div{
	display: none;
}

#information .lambdead{
	color: rgb(221, 32, 32);
}

#information .tigerwin,#information .lambwin{
	color: rgb(34, 205, 34);
}

#buttonsHld {
	display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  place-content: center;
  margin: 16px auto;
}

#buttonsHld button{
	background-color: #007dcb;
	border-bottom: 2px solid #0f1f7a;
	text-shadow: 0 -1px 0 #300;
	font-size: 15px;
	border: none;
	padding: 4px 8px;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	margin: 8px;
	width: 100%;
}

#buttonsHld button.start{
	display: block;
}

#buttonsHld button.startonline{
	display: block;
}

#buttonsHld button.reset{
	display: none;
}

#buttonsHld button.sound {
	background: url('../images/sound.png') no-repeat;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    outline: none;
    display: none;
}

#buttonsHld button.sound.stop {
	background: url('../images/mute-sound.png') no-repeat;
	background-size: 24px 24px;
}

.live #buttonsHld button.start{
	display: none;
}

.live #buttonsHld button.startonline{
	display: none;
}

.live #buttonsHld button.reset{
	display: block;
}

.live #buttonsHld button.sound{
	display: block;
}

.timer{
	margin: 0 auto;
	width: 632px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 39px;
	display: none;
}

.eleHld{
	border: 1px solid grey;
  	position: absolute;
  	border-radius: 50%;
  	background-color: #FFFFFF;
  	cursor: pointer;
  	display: none;
}

.eleHld.tiger{
	background: url('../images/tiger.png') no-repeat;
  	border: none;
}

.eleHld.lamb{
	background: url('../images/lamb.png') no-repeat;
  	border: none;
}

.eleHld.lamb.selectedLamb{
	-webkit-transition: background-size .5s;
    transition: background-size .5s;
}

.eleHld.deadlamb{
	background: url('../images/lamb.png') no-repeat #FFFFFF;
  	-webkit-transition: background-size 2s,background-color 2s;
    transition: background-size 2s,background-color 2s;
    background-position: center center;
}

.eleHld.tiger.selectedTiger{
}



#board {
	position: relative;
	width: calc(100% - 20px);
	margin: 0px 10px;
	display: none;
}

.live #board {
	display: block;
}

/*Width and Height Configuration in Mobile Mode*/
.eleHld{
	width: 20px;
	height: 20px;
}

.eleHld.tiger{
  	background-size: 20px 20px;
  	border: none;
}

.eleHld.lamb{
  	background-size: 20px 20px;
  	border: none;
}

.eleHld.lamb.selectedLamb{
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
}

.eleHld.deadlamb{
  	background-size: 5px 5px;
  	width: 20px;
  	height: 20px;
}

.eleHld.tiger.selectedTiger{
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
}

#playerState {
	display: none;
	position: absolute;
	bottom: 20px;
	width: calc(100% - 16px);
	z-index: -1;
	text-transform: capitalize;
}

#playerState > div {
	width: 50%;
    float: left;
}

.live #playerState {
	display: block;
}

#playerState div .image{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 40px 40px;
}

.lastMove {
	animation: blink-animation .2s steps(5, start) 10;
  -webkit-animation: blink-animation .2s steps(5, start) 10;
}	
#playerState div.active span{
	animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#playerState .tiger .image{
    float: left;
    background :url('../images/tiger.png') no-repeat;
    background-size: 40px 40px;
}

#playerState .lamb .image{
    float: right;
    background :url('../images/lamb.png') no-repeat;
	background-size: 40px 40px;
}

#playerState .lamb.waiting .image{
    background :none;
    background-color: #4d4c4c;
    text-align: center;
	background-size: 40px 40px;
}

#playerState .lamb.waiting .image:after{
	content: '?';
    position: relative;
    top: 3px;
    font-size: 32px;
    color: #FFFFFF;
}

#playerState .tiger .name{
	float: left;
	padding: 10px;
}

#playerState .lamb .name{
	float: right;
	padding: 10px;
}



@media (min-width:961px)  {
	#bg {
		background: none;
	}
	#userForm {
		width: 60%;
		margin: 0 auto;
	}

	#board {
		width: 60%;
		margin: 0 auto;
	}

	#buttonsHld {
		width: 15%;
	}

	.wrapper {
		width: 60%;
	}

	/*Width and Height Configuration in Desktop Mode*/

	.eleHld{
		width: 35px;
		height: 35px;
	}

	.eleHld.tiger{
	  	background-size: 35px 35px;
	  	border: none;
	}

	.eleHld.lamb{
	  	background-size: 35px 35px;
	  	border: none;
	}

	.eleHld.lamb.selectedLamb{
		background-size: 40px 40px;
		width: 40px;
		height: 40px;
	}

	.eleHld.deadlamb{
	  	background-size: 10px 10px;
	  	width: 35px;
	  	height: 35px;
	}

	.eleHld.tiger.selectedTiger{
		background-size: 40px 40px;
		width: 40px;
		height: 40px;
	}
}
